<?xml version="1.0"?>
<model>
  <name>flying_wing_quadplane</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Astrifer / GydeXP</name>
    <email>aakarshan@gydexp.com</email>
  </author>
  <description>
    Flying-wing quadplane VTOL (Quad-X lift rotors + centerline rear pusher).
    Mass, inertia, geometry and aero derived from XFLR5 "iteration3current2realnewwinglet".
    AUW 10.8 kg, span 2.375 m, S 0.859 m^2, MAC 0.447 m, AR 6.57. For ArduPilot SITL + Gazebo Harmonic.
  </description>
</model>
